Source: binarium
Section: utils
Priority: optional
Maintainer: Binarium Dev Team <info@binarium.money>
Uploaders: Binarium Dev Team <info@binarium.money>
Build-Depends: debhelper,
 devscripts,
 automake,
 libtool,
 bash-completion,
 libdb4.8++-dev,
 libssl-dev,
 pkg-config,
 libevent-dev,
 libboost-system1.48-dev | libboost-system-dev (>> 1.35),
 libboost-filesystem1.48-dev | libboost-filesystem-dev (>> 1.35),
 libboost-program-options1.48-dev | libboost-program-options-dev (>> 1.35),
 libboost-thread1.48-dev | libboost-thread-dev (>> 1.35),
 libboost-test1.48-dev | libboost-test-dev (>> 1.35),
 libboost-chrono1.48-dev | libboost-chrono-dev (>> 1.35),
 qt4-qmake,
 libqt4-dev,
 libqrencode-dev,
 libprotobuf-dev, protobuf-compiler,
 python
Standards-Version: 3.9.2
Homepage: https://www.binarium.money/
Vcs-Git: git://github.com/binariumpay/binarium.git
Vcs-Browser: git://github.com/binariumpay/binarium

Package: binariumd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - daemon
 Binarium is an experimental new digital currency that enables anonymous, instant
 payments to anyone, anywhere in the world. Binarium uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Binarium Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides the daemon, binariumd, and the CLI tool
 binarium-cli to interact with the daemon.

Package: binarium-qt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - Qt GUI
 Binarium is an experimental new digital currency that enables anonymous, instant
 payments to anyone, anywhere in the world. Binarium uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Binarium Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides Binarium-Qt, a GUI for Binarium based on Qt.

Package: binarium-tx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer digital currency - standalone transaction tool
 Binarium is an experimental new digital currency that enables anonymous, instant
 payments to anyone, anywhere in the world. Binarium uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Binarium Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides binarium-tx, a command-line transaction creation
 tool which can be used without a binarium daemon.  Some means of
 exchanging minimal transaction data with peers is still required.
